.custom-button {
  background-color: #8B5A2B;
  color: white;
  border: none;
  padding: 12px 22px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.custom-button:hover {
  background-color: #4F362C;
}