.product-card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: 'Montserrat', sans-serif;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  margin: 15px 0 10px;
  color: #4F362C;
}